.book-detail {
  display: flex;
  background-color: black;
  color: white;
  padding: 20px;
}

.book-image {
  flex: 0 0 auto;
  margin-right: 100px;
  padding: 90px;
  transition: transform 0.3s ease; 
}

.book-image:hover {
  transform: scale(1.04); 
}

.book-image img {
  max-width: 400px;
  height: 500px;
  border-radius: 20px;
}

.book-title01 {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
  padding: 80px;
}

.book-author01,
.book-pubDate,
.book-description, .book-link {
  font-size: 17px;
  text-align: left;
  font-weight: normal;
}

.book-price {
  font-size: 17px;
  text-align: left;
  font-weight: bold;
}

.book-link {
  text-align: left;
  color : white;
  text-align: left;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.book-title01 {
  animation: fadeIn 0.8s ease-in-out forwards;
}

.book-ratings {
  margin-top: 250px;
  margin-right: 500px;
}

.BookState{
  margin-top: 90px;
  margin-right: 500px;
}

.average-rating {
  font-size : 50px;
  font-weight: bold;
}

.book-detail .rating-statistics {
  margin-top: 20px;
  margin-bottom: 200px;
}

.rating-statistics-bar {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.rating-statistics-bar .bar {
  height: 20px;
  background-color: #d300ff;
  margin: 0 10px;
  border-radius: 10px;
  height : 13px;
}

.comment-section {
  margin-right: 500px;
  color : white;
}

.book-detail .comment-section {
  margin-top: 20px;
}

.comment-box {
  border: 1px solid #353535;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #353535;
}

.comment-box span {
  display: block;
  margin-bottom: 5px;
}

.comment-box:last-child {
  margin-bottom: 0;
}
.comment-info {
  margin-bottom: 10px;
  
}
.more-button {
  background-color: black;
  color: white; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
  transition: background-color 0.3s, color 0.3s;
}

.like-section {
  margin-top: 10px;
}



.like-section button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.like-section button:hover i {
  color: rgb(255, 1, 1);
}

.like-section button i {
  color: rgb(255, 205, 205);
  margin-right: 5px;
}

.fas.fa-heart.liked {
  color: red; /* Change the color to red when liked */
}

.comment-button {
  background-color: black;
  border : none;
  color : white;
    margin-bottom: 20px;
    text-align: center;
}

.comment-container01 {
  text-align: center;
}