.my-page {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
  }
  
  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .profile-preview-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .profile-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .empty-profile {
    width: 100%;
    height: 100%;
    background-color: gray;
    border-radius: 50%;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color : white;
  }
  
  .error-message {
    color: black;
    margin-top: 10px;
  }
  
  .profile-edit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .profile-edit-button {
    background-color: #5e5c5c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .profile-edit-button:hover {
    background-color: #787878;
  }
  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .upload-button {
    background-color: white;
    color: black;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  
  .file-input-label {
    background-color: white;
    color : black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  
  .file-input {
    display: none;
  }
  