.header02 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px;
  }
  
  .user-container {
    display: flex;
    align-items: center;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
  }
  
  .profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px; /* 로그아웃 버튼과의 간격 추가 */
  }
  
  .user-nickname {
    text-decoration: none;
    color: white;
    margin-left: 10px; /* 프로필 이미지와 닉네임 사이의 간격 추가 */
  }
  
  .logout-button {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px; /* 프로필 이미지와 간격 추가 */
  }
  
  .logout-button:hover {
    opacity: 0.8;
  }
  