.search-results {
    background-color: black;
    padding : 20px;
}

.search-results h4 {
    color : white;
    margin-left: 40px;
    margin-bottom: 30px;
    font-size: 20px;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    background-color: black;
    margin-left: 40px;
}

.book-item {
    width: calc(20% - 20px); 
    margin-bottom: 75px;
}

.book-link {
    text-decoration: none;
    color: inherit;
}

.book-cover {
    width: 100%;
    height: auto;
    border-radius: 8px;
    max-width: 200px;
}

.book-info {
    margin-top: 10px;
    margin-right: 130px;

}

.book-title {
    margin: 0;
    font-size: 18px;
    color : white;
}

.book-author {
    margin: 5px 0 0;
    font-size: 14px;
    color: #666;
}